############################
# OS
############################

.DS_Store
.env.local
.env.*.local
.vscode
.idea

############################
# Strapi
############################

.env
.env.*
!.env.example
license.txt
exports
.strapi
.strapi-updater.json
.strapi-cloud.json
dist
build
.cache
.tmp

############################
# Logs
############################

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

############################
# Dependencies
############################

node_modules/

############################
# Build
############################

/dist
build/

############################
# Database
############################

*.sql
*.sqlite
*.db
.tmp

############################
# Secrets
############################

*.pem
*.key
.env.prod
.env.docker
.env.development
.env.production
/.claude
generate-scaleway-env.js
DEPLOY_SCALEWAY.md
scaleway-env-vars.json
Delete mbc-fire-firebase-adminsdk-fbsvc-5be4eabccd.json
mbc-fire-firebase-adminsdk-fbsvc-5be4eabccd.json
.DS_Store
